Unconfirmed ??????.crdownload

# (Full) OTA Image
/PixelDust-X-aosp-angler-2020????-????.zip
/PixelDust-X-caf-angler-2020????-????.zip
/PixelExperience_angler-10.0-2020????-????-OFFICIAL.zip
/ExtendedUI_?.?.?_angler-10.0-2020????-????-OFFICIAL.zip
/lineage-17.1-2020????-UNOFFICIAL-angler.zip

# Facory Image
/angler-opm7.181205.001-factory-b75ce068.zip
/angler-opm7.181205.001/
/walleye-????.??????.???-factory-????????.zip
/walleye-????.??????.???/

# TWRP
/twrp-?.?.?-?-angler.img

# Rooting
/Magisk-v??.?.zip
/SuperSU-v?.??-????????????.zip

# Packages
*.apk
com.smartpack.kernelmanager.zip

# ss-android
/profiles.json

###

/linux-*

/magisk_patched.img
