Unconfirmed ??????.crdownload

# ROM
# /PixelDust-X-aosp-angler-2020????-????.zip
# /PixelDust-X-caf-angler-2020????-????.zip
# /PixelExperience_angler-10.0-2020????-????-OFFICIAL.zip
# /ExtendedUI_?.?.?_angler-10.0-2020????-????-OFFICIAL.zip
/lineage-15.1-????????-UNOFFICIAL-angler.zip
/lineage-17.1-????????-UNOFFICIAL-angler.zip
/lineage-17.1-????????-recovery-walleye.img
/lineage-17.1-????????-nightly-walleye-signed.zip

# EOL factory Image
/angler-opm7.181205.001-factory-b75ce068.zip
/angler-opm7.181205.001/
/walleye-rp1a.201005.004.a1-factory-0c23f6cf.zip
/walleye-rp1a.201005.004.a1/

# TWRP
# /twrp-?.?.?-?-angler.img*

# Rooting
/Magisk-v??.?.zip
# /SuperSU-v?.??-????????????.zip
/boot.img
/magisk_patched.img

# Packages
# com.smartpack.kernelmanager.zip
*.apk

# ss-android
/profiles.json

# Open GApps
# /open_gapps-arm64-8.1-pico-2020????.zip*
/open_gapps-arm64-10.0-pico-????????.zip*

